# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
analyze_output.txt

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Windows specific
build/windows/
windows/flutter/ephemeral/
windows/flutter/ephemeral/*
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Android specific
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
/android/local.properties
/android/**/GeneratedPluginRegistrant.java
.gradle/
captures/
*.apk
*.ap_
*.dex
*.class
**/android/app/build/
**/android/.gradle/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Backup / temp files
*~
*.bak
*.tmp
*.temp
